.order-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200vh;
    height: 100vh;
    backdrop-filter: blur(2px);
    
}

.order-modal-content {
    background-color: rgb(18, 90, 33);
    backdrop-filter: blur(3px);
    width: 350px;
    height: 350px;
    position: relative;
    left: 37.5%;
    top: 25%;
    padding-top: 4em;
    padding-left: 6em;
    padding-bottom: 5em;
    border-radius: 25px;
}

.text-field {
    display: block;
    border-radius: 1em;
    width: 200px;
    height: 30px;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
}