.registration-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.registration-content {
    flex-grow: 1;
    margin-left: 12em;
    margin-bottom: 5em;
}

.user-data-block {
    margin-bottom: 2em;
}

.textfield {
    display: block;
    width: 400px;
    height: 60px;
    border-radius: 2em;
    outline: solid #c0c0c0 2px;
    padding-left: 2em;
    border: 0;
    outline: solid #A3A3A3;
    border: #fff;
    transition: 0.2s ease-in;
    font-size: 16px;
}

.textfield:focus {
    outline: 3px solid #6e6e6e;
}

.registration-label {
    margin-left: 2em;
    font-size: 18px;
}

.first-name-textfield,
.last-name-textfield {
    display: inline;
}

.registration-title {
    font-size: 50px;
    margin-bottom: 1em;
}

.registration-header-logo {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5em;
    cursor: pointer;
}

.registration-header-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Multiround Pro', sans-serif;
    cursor: pointer;
}

.submit-registration-button {
    width: 250px;
    height: 55px;
    border-radius: 35px;
    border: solid 1px #1D5A1C;
    font-weight: 600;
    cursor: pointer;
    background-color: #1D5A1C;
    color: #fff;
    font-size: 20px;
    transition: 0.3s ease-in;
}

.submit-registration-button:hover {
    transform: scale(1.02);
    background-color: #2e882d;
}

.registration-illustration {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 600px;
}